
 @model ReportDTO

<div class="form-group row">
    <div class="col-md-6">
        <label for="1">Reporter</label>
        @Html.DropDownListFor(model => model.Reporter, new SelectList(new[] {
        new { Value = 1, Text = "Vu" },
        new { Value = 2, Text = "Cuong" },
        new { Value = 1002, Text = "Nhat" }
        }, "Value", "Text"), new { @class = "form-control" })
    </div>
    <div class="col-md-6">
        <label for="1">Assignee</label>
        @Html.DropDownListFor(model => model.Assignee, new SelectList(new[] {
        new { Value = 1, Text = "Vu" },
        new { Value = 2, Text = "Cuong" },
        new { Value = 1002, Text = "Nhat" }
        }, "Value", "Text"), new { @class = "form-control" })
    </div>
    <div class="col-md-6">
        <label for="1">Product</label>
        @Html.DropDownListFor(model => model.ProductId, new SelectList(new[] {
        new { Value = 3, Text = "Truyen Doremon" },
        }, "Value", "Text"), new { @class = "form-control" })
    </div>
    <div class="col-md-6">
        <label for="1">Approve By</label>
        @Html.DropDownListFor(model => model.ApproveBy, new SelectList(new[] {
        new { Value = 1, Text = "Admin" },
        }, "Value", "Text"), new { @class = "form-control" })
    </div>
    <div class="col-md-6">
        <label for="1">Status</label>
        @Html.DropDownListFor(model => model.Status, new SelectList(new[] {
        new { Value = 0, Text = "Inactive" },
        new { Value = 1, Text = "Active" },
        }, "Value", "Text"), new { @class = "form-control" })
    </div>
</div>
<div class="col-md-6">
    <label for="1">Report Time</label>
    @Html.EditorFor(model => model.ReportTime, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
    @Html.ValidationMessageFor(model => model.ReportTime, "", new { @class = "text-danger" })
</div>
<div class="col-md-6">
    <label for="1">Approve Time</label>
    @Html.EditorFor(model => model.ApproveTime, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
    @Html.ValidationMessageFor(model => model.ApproveTime, "", new { @class = "text-danger" })
</div>
<div class="col-md-6">
    <label for="1">Reason</label>
    @Html.EditorFor(model => model.Reason, new{ htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
</div>
<div class="col-md-6">
    <label for="1">Reply</label>
    @Html.EditorFor(model => model.Reply, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Reply, "", new { @class = "text-danger" })
</div>