@model ExchangeWebApp.Controllers.ExchangeController

@* <div class="form-group row">
    <div class="col-md-6">
        <label for="1">ID </label>
        @Html.HiddenFor(model => model.ExchangeDTO.Id)
       @Html.DropDownList("id", null, new { @class = "form-control" })
    </div>
    <div class="col-md-6">
        <label for="1">Product</label>
        @Html.DropDownList("name", null, new { @class = "form-control" }) 
    </div>
</div> *@
<div class="form-group row">
    <div class="col-md-12">
        <label for="1">Transaction Id</label>
        @Html.DropDownListFor(model => model.ExchangeDTO.TransactionId, new SelectList(new[] {
        new { Value = 1016, Text = "1016" },
        new { Value = 1019, Text = "1019" },
        new { Value = 1020, Text = "1020" },
        }, "Value", "Text"), new { @class = "form-control" })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label for="1">Product change Id</label>
        @Html.DropDownListFor(model => model.ExchangeDTO.ExchangeId, new SelectList(new[] {
        new { Value = 1010, Text = "cuong2" },
        new { Value = 1025, Text = "tattss" },
        new { Value = 1026, Text = "Nem so pha" },
        new { Value = 1027, Text = "Ban ghe" },
        new { Value = 1028, Text = "Ban ghe ngu" },
        new { Value = 1029, Text = "Ban ghe tiep khach" }
        }, "Value", "Text"), new { @class = "form-control" })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label for="1">Status</label>
        @Html.EditorFor(model => model.ExchangeDTO.Status, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label for="1">SendDate</label>
        @Html.EditorFor(model => model.ExchangeDTO.SendDate, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label for="1">ReceiveDate</label>
        @Html.EditorFor(model => model.ExchangeDTO.ReceiveDate, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label for="1">CancelDate</label>
        @Html.EditorFor(model => model.ExchangeDTO.CancelDate, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label for="1">CancelReason</label>
        @Html.EditorFor(model => model.ExchangeDTO.CancelReason, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label for="1">ShipCost</label>
        @Html.EditorFor(model => model.ExchangeDTO.ShipCost, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label for="1">ShipCode</label>
        @Html.EditorFor(model => model.ExchangeDTO.ShipCode, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
<div class="form-group row">
    <div class="col-md-12">
        <label for="1">ShipStatus</label>
        @Html.EditorFor(model => model.ExchangeDTO.ShipStatus, new { htmlAttributes = new { @class = "form-control" } })
    </div>
</div>
